@font-face {
    font-family: iransansMed;
    font-style: normal;
    src: url(../fonts/ttf/IRANSansWeb_Medium.ttf);
}

@font-face {
    font-family: iransansBold;
    font-style: normal;
    src: url(../fonts/ttf/IRANSansWeb_Bold.ttf);
}

@font-face {
    font-family: iransansLight;
    font-style: normal;
    src: url(../fonts/ttf/IRANSansWeb_Light.ttf);
}
/*global style */
html {
    height: 100%;
    text-decoration: none;
}

body {
    text-decoration: none;
    height: 100%;
    direction: rtl;
    text-align: right;
    background-color: white;
    font-family: IRANSansMed, serif;
}
 /*alert pulse*/
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
    -webkit-animation: pulse 2s linear infinite;
    animation: pulse 2s linear infinite;
}

/*end alert pulse*/
.borderBottom {
    border-bottom: 2px dashed skyblue;
    padding-bottom: 6px;
    border-bottom: 2px dashed skyblue;
    font-family: iransansLight, serif;
}
.w-85{
    width: 85%;
}
.logoutBtn{

    font-size: 14pt;
    color: tomato;
    position: absolute;
    top: 28px;
    margin-right: 32px;
    transition: all 200s;
}
.logoutBtn:hover i{
    color: #66CDAA !important;
}
.btn-custom {
    background: #02b3e4;
    color: white !important;
    font-size: 10pt;
    border-radius: 4px !important;
    box-shadow: 1px 1px 11px 2px #efe4e4 !important;
    border: 1px solid #fff;
    transition: all 500ms;
}

.btn-custom:hover {
    transform: translate3d(0px, -2px, 2px);
    color: white;
}

.panelSide {
    border-left: 1px solid #eaeaea;
}


.panelSide p {
    font-size: 17pt;
    color: #758080;
    padding-top: 25px;
    font-family: iransansBold;
    padding-bottom: 12px;
    display: inline-block;
}

.panelSide ul li {
    border: none;
     margin-bottom: 45px;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    width: 100%;
    white-space: pre;

}

.panelSide ul li a {
    color: #777A87;
    text-decoration: none;
    transition: all .2s;
    padding-left: 25px;
    white-space: normal;
    padding-bottom: 5px;
    padding-top: 5px;
}

.panelSide ul li a:hover {
    color: tomato;
}

.panelSide ul li:hover i {
    color: tomato;
}

.panelSide ul li i {
    margin-left: 10px;
    font-size: 15pt;
    transition: all .2s;
    color: #ffffff;
    filter: drop-shadow(1px 1px 5px rgba(113, 169, 161, 0.48));
}
.card sub{
    display: flex;
    margin-bottom: 18px;
    margin-top: 18px;
    text-align: center;
    justify-content: center;
}

/*card*/

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
      background-color: unset !important;
    background-clip: border-box;
     border:unset !important;
    border-radius: 0.25rem;
}


.card-custom {
    box-shadow: 1px 1px 14px 3px #d7dcdc52;
    border-radius: 8px;
    transition: all .4s;
    margin-bottom: 20px;
}
.card-custom:hover{
    box-shadow: 1px 1px 14px 14px #d7dcdc52;
    transform: translate3d(0px, -2px, 0px);
}



.card-custom a {
    text-align: center;
    display: flex;
    justify-content: center;

}

.cars {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.cars a {
    padding: 6px;
    color: #4e555b;
    box-shadow: 1px 1px 14px 3px #d7dcdc52;
    border-radius: 9px;
    margin-left: 8px;
    transition: all .2s;
    text-decoration: none;
    border: none;
}
.carDetail{
    padding: 10px;
    margin: 10px 10px 25px 10px;
    border-radius: 7px;
    display: list-item;
    box-shadow: 1px 1px 5px 1px #cdd2d169;
    list-style: none;
    color: black;
    font-size: 14pt;
  }
.carDetail-span{
    font-size: 10pt;
    color: #686868;

}
.cars a:hover{
    color: tomato;
    transform: translate3d(0px, -2px, 2px);
}
/*panel side collapsing */
#sidebar {


    color: #fff;
    transition: all 0.3s;
}
.sidebarCollapse{
    color: tomato;
    font-size: 14pt;
    transition: all 200ms;
    cursor: pointer;
    display: table;
    float: left;
    position: relative;
    bottom: 100px;
}

.sidebarCollapse:hover{
    color:mediumaquamarine;
    transform: scale(1.1);

}
#sidebar.active {
    min-width: 120px;
    max-width: 120px;
    text-align: center;
}
#sidebar.active img{
    width: 46px;
    margin-top: 15px;
}
#sidebar.active p{
    font-size: 10px;
}
#sidebar.active .mr-4{
    margin-right: 0 !important;
}
#sidebar.active .sidebarCollapse{
right: unset !important;
}
#sidebar.active .collapseText{
    display: none;
}
#sidebar.active.panelSide ul li i   {
    color: #7b50ff;
    transition: all 200ms;
    padding: 5px;
}
#sidebar.active.panelSide ul li i:hover{
    color: tomato;

}
.addBoxShadow{
    box-shadow: 1px 2px 8px 4px #4341d280;
    transform: scale(1.1);
    background: cornsilk;
}
#sidebar.active .col-md-9{
    min-width: 91%;
}
/*end side collapsing*/
.highcharts-root{
    font-family: iransansLight, serif !important;
}
@media (min-width: 1600px) {
    .card {
        width: 30rem !important;
        margin-top: 50px !important;
    }
    .card-custom {
        box-shadow: 1px 1px 14px 3px #d7dcdc52;
        border-radius: 8px;

    }
    #container{
        width: 466px !important;
        height: 427px !important;
    }
    .panelSide ul{
        margin-top: 100px !important;
    }
}


