@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/IRANSansWeb_Bold.eot?7626d015e15844db7d1f54c8e415461a);
    src: url(../fonts/IRANSansWeb_Bold.eot?7626d015e15844db7d1f54c8e415461a?#iefix) format('embedded-opentype'), url(../fonts/IRANSansWeb_Bold.woff2?6ec03a37e370c0d7f4f6bbdba0feac23) format('woff2'), url(../fonts/IRANSansWeb_Bold.woff?a762a767a3459fec2195da1373ebf0b1) format('woff'), url(../fonts/IRANSansWeb_Bold.ttf?4ff441e3b8c51acd2261585feca1d8c8) format('truetype')
}
body{
    font-family: IRANSans, serif;
    direction: rtl;
     background: linear-gradient(to right, #185a9d, #43cea2);
}
@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
.header{
      margin-bottom: 20px;
    height: 66px;
 }
.header p {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-right: 17px;
    color: white;
    letter-spacing: 1px;
    font-size: 17pt;
    filter: drop-shadow(1px 3px 4px black);
}
.resetPassword{
    display: flex;
    font-size: 12px;
    color: white;
    background: tomato;
    border-radius: 6px;
    width: 60%;
    padding: 5px 13px 5px 5px;
}

.btn-custom{
    background: #02b3e4;
    color: white;
    height: 54px;
    font-size: 17pt;
    width: 146px;
    position: relative;
    box-shadow: 1px 1px 11px 2px #efe4e4;
    bottom: 56px;
    border: 1px solid#fff;
    transition: all 500ms;
}
.btn-custom:hover{
    transform: translate3d(0px,-2px,2px);
    color: white;
}
.btn-custom-login{
    background: #02b3e4;
    color: white;
    height: 54px;
    font-size: 17pt;
    width: 146px;
    box-shadow: 1px 1px 11px 2px #efe4e4;
    border: unset;
    transition: all 500ms;
}
.btn-custom-login:hover{
    transform: translate3d(0px,-2px,2px);
    color: white;
}
#tile-1 .tab-pane
{
    padding:15px;
    height:auto;
}
#tile-1 .nav-tabs
{
    width: 443px;
    position:relative;
    border:none!important;
    background-color:#fff;
    box-shadow: 1px 1px 7px 3px #ececec;
    border-radius:6px;
    height: 60px;
    direction: ltr;
    margin: 0 auto;
}
#tile-1 .nav-tabs li
{
    margin:0px!important;
    height: 361px;
}
#tile-1 .nav-tabs li:last-of-type{
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-left: 1px solid #e0e0e0;
    height: 60px;
    background: #fffefd;
}
#tile-1 .nav-tabs li:first-of-type{
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
     height: 60px;
     background: #fffefd;
}
#tile-1 .nav-tabs li a
{
    position:relative;
    margin-right:0px!important;
    padding: 20px 40px!important;
    font-size:16px;
    border:none!important;
    color: #adadad;
}
#tile-1 .nav-tabs a{
    transition: all 300ms;
}
#tile-1 .nav-tabs a:hover
{
    color: #f983b3;
}
#tile-1 .slider
{
    display:inline-block;
    width:30px;
    height:4px;
    left: 295px;
    border-radius:3px;
    background-color:#39bcd3;
    position:absolute;
    z-index:1200;
    bottom:5px;
    transition:all .4s linear;

}
#tile-1 .nav-tabs .active
{
    background-color:transparent!important;
    border:none!important;
    color: #636363!important;
}
li:has(  active) {

}
.activeBackGround{
    background-color: #eb4b4b08 !important;

}

.boxStyle{
    background: #ffffff;

}
/*
form material
*/

.detail{

    background-image: url("../img/social.svg");
    background: #d9a7c7;
    background: -webkit-linear-gradient(to bottom, #e5cdcd, #d3dee41f); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #eb3b5b1c, #d3dee41f);
    height: auto ;
}
.detailImg{
     width: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 4px 6px #636e72 );
    margin: 17px auto;

}
.detail img:nth-child(2){
    position: absolute;
    width: 79%;
    opacity: .2;
    left: 1px;
    right: 31px;
    text-align: center;
}
.wrapper {
    background-color: #eee;
    min-height: 100%;
    padding: 60px 0;
}

h1 {
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: #2f2f2f;
    text-align: center;
}
.form-row {
    margin-left: -15px;
    margin-right: -15px;
}
.form-row .form-group {
    padding: 15px 15px 0;
    align-self: flex-end;
}
.form-group {
    position: relative;
    padding-top: 15px;
    margin-bottom: 30px;
}
.form-control {
    border: 0;
    border-radius: 0;
    padding: 10px 10px;
    background-color: transparent;
    position: relative;
    z-index: 2;
    font-size: 0.9rem;
}
.form-control:not(textarea) {
    height: 44px;
}
.form-control + label {
    position: absolute;
    z-index: 1;
    top: 25px;
    color: #8189A9;
    margin: 0;
    transition: all 0.2s ease-in-out;
    pointer-events: none;

    right: 10px;
}
.form-control:focus {
    box-shadow: none;
    background-color: transparent;
}

.form-control:focus + label, .form-control.has-value + label {
    font-size: 0.75rem;
    top: 0;
}
.no-js .form-control + label {
    font-size: 0.75rem;
    top: 0;
}
.form-row .form-control + label {
    left: 316px;
}
.form-row .line {
    left: 15px;
    right: 15px;
}
.line {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #26C6DA;
    background-image: -moz-linear-gradient(left, #afafaf 0%, #55a554ad  100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #afafaf), color-stop(100%, #55a554ad ));
    background-image: -webkit-linear-gradient(left,  #afafaf 0%, #55a554ad  100%);
    background-image: -o-linear-gradient(left,  #afafaf 0%, #55a554ad  100%);
    background: -ms-linear-gradient(left,  #afafaf 0%, #55a554ad  100%);
    background: linear-gradient(to right, #afafaf 0%, #55a554ad  100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$from', endColorstr='$to',GradientType=1);
}
.line:after {
    content: "";
    height: 1px;
    position: absolute;
    display: block;
     left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
    transform-origin: 0 0;
}
.form-control:focus ~ .line:after {
    transform: scaleX(1);
    background: #397fd8;
}
select.form-control:not([size]):not([multiple]) {
    height: 20px;
}

/*error customization*/
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    position: absolute;
     text-align: right;
    color: #e3342f;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: #e3342f;
    padding-right: calc(1.6em + 0.75rem);
    background-image:  unset !important;
    background-repeat: no-repeat;
    background-position: center right calc(0.4em + 0.1875rem);
    background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}
.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
    border-color: #e3342f;
    box-shadow: unset !important;

}
.detailList li{
    background: transparent;
    border: none;
    text-align: center;
    line-height: 1.9;
    margin-left: 23px;
}
.detailList li:before{
    content: "\f00c";
    font-family: FontAwesome, serif;
    position: relative;
    left: 12px;
    top: 2px;
    background: #4ba54b;
    padding: 3px;
    border-radius: 17px;
    color: white;

 }

@media (max-width: 768px) {
    .detailList li{
         font-size: .9em;
     }
    .detail{
        display: none;
    }
    .form-row .form-control + label{
        left: unset !important;
    }

}
@media (max-width: 460px) {
    #tile-1 .nav-tabs {
        width: auto;
     }
    .boxStyle{
        width: 98%;
    }
}
